{% extends "base_generic.html" %}
{% load static %}

{% block title %}
 - Home
{% endblock title %}

{% block extra_include %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock extra_include %}

{% block content %}
<div class="full-screen-wrapper">
  <div class="centered-container">
    <p class="mb-1 fs-3">Hello and welcome to</p>
    <h1 class="fw-bold dark-blue display-3 navbar-brand-font">Reststop Rater</h1>
    <p class="mt-4 mb-4 fs-5 text-grey">Please grant permission to find your location.</p>

    <div id="coords">
      <button id="location-btn" class="btn btn-primary" type="button" disabled>
        <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Finding location...
      </button>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'maps.js' %}"></script>
{% endblock scripts %}
