{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<a href="/bathrooms/{{ bathroom.bathroom.id }}"
   class="card shadow rounded list-group-item list-group-item-action container-sm d-flex flex-row mb-2 align-items-center"
   style="height: 165px;">

  {% if bathroom.photo_url %}
    <img src="{{ bathroom.photo_url }}" alt="Bathroom Photo"
         class="bathroom-photo me-3" />
  {% endif %}

  <div id="bathroom-details" class="flex-grow-1">
    <h2 class="card-title d-flex align-items-center flex-wrap mb-1">
      {{ bathroom.bathroom.name }}

      {% if bathroom.bathroom.report_no > bathroom.bathroom.report_yes %}
        <span class="ms-2 text-danger" style="font-size: 1.25rem;" title="no_bathroom">🚩</span>
      {% endif %}

  <div class="d-flex align-items-center ms-3">
    <form method="POST" action="/quickrate/{{ bathroom.bathroom.id }}/"
      class="d-flex star-rating-container"
      data-average="{{ bathroom.average_rating }}"
      data-user="{{ bathroom.user_quick_rating|default:'0' }}">
      {% csrf_token %}
      {% for i in "12345" %}
      <button type="submit"
        name="rating"
        value="{{ i }}"
        class="btn p-0 border-0 bg-transparent hover-star"
        style="font-size: 1.5rem;">
        <i class="fa-regular fa-star"></i>
      </button>
      {% endfor %}
      </form>
      </div>  
    </h2>

    {% if bathroom.bathroom.report_no > bathroom.bathroom.report_yes %}
    <div class="text-danger small fw-semibold">Users have reported no bathroom here</div>
    {% endif %}

    <div class="card-text">
      <p class="mb-0">
        {{ bathroom.bathroom.address }}<br />
        {{ bathroom.distance|floatformat:2 }} mi <br />
        {{ bathroom.review_count }} review{{ bathroom.review_count|pluralize }}
      </p>
    </div>
  </div>
  {% include "components/reportbuttons.html" with bathroom=bathroom.bathroom %}
</a>
