{% load django_bootstrap5 %}

{% block review_form_content %}
    {% if user.is_authenticated %}
        <h2>Leave a Review</h2>
            <form method="POST">
                <div class="d-flex flex-column">
                {% csrf_token %}
                <div class="star-rating animated-stars align-self-center">
                    <input type="radio" id="star5" name="rating" value="5">
                    <label class="bi bi-star-fill" for="star5"></label>
                    <input type="radio" id="star4" name="rating" value="4">
                    <label class="bi bi-star-fill" for="star4"></label>
                    <input type="radio" id="star3" name="rating" value="3">
                    <label class="bi bi-star-fill" for="star3"></label>
                    <input type="radio" id="star2" name="rating" value="2">
                    <label class="bi bi-star-fill" for="star2"></label>
                    <input type="radio" id="star1" name="rating" value="1">
                    <label class="bi bi-star-fill" for="star1"></label>
                </div>
                {% bootstrap_form form exclude='rating' %}
                <button type="submit" class="btn btn-primary btn-lg">Submit Review</button>
                </div>
            </form>
    {% else %}
        <p>
            <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-primary">Login to leave a review</a>
            <br />
            <small>Don't have an account? 
                <a href="{% url 'join' %}?next={{ request.path }}">Sign up here</a>
            </small>
        </p>
    {% endif %}
{% endblock review_form_content %}
