{% block review_content %}
    <h2>Reviews</h2>
    <hr />
    {% if reviews %}
        <ul class="list-group list-group-flush">
            {% for review in reviews %}
                <li class="list-group-item">
                    <strong>{{ review.user.username }}</strong> rated it {{ review.rating }}/5
                    <br />
                    "{{ review.comment }}"
                    <br />
                    <small>Posted on {{ review.created_at|date:"F j, Y" }}</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No reviews yet. Be the first to leave one!</p>
    {% endif %}
{% endblock review_content %}
