<nav class="navbar navbar-expand-sm bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/" class="nav-link text-light">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="/review" class="nav-link text-light">Review Bathroom</a>
            </li>
            <li class="nav-item">
                <a href="/create" class="nav-link text-light">Create Bathroom</a>
            </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
            <li class="nav-item mr-auto">
                <a class="nav-link text-light" href="/logout/">Logout ({{user.username}})</a>
            </li>
            {% else %}
            <li class="nav-item mr-auto">
                <a class="nav-link text-light" href="/login/">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>